.right {
    width: 66.6%;
    padding: 3rem 7rem;

    @include respond(tab-land) {
        padding: 4rem 2rem;
    }
    @include respond(tab-port) {
        width: 100%;
        padding: 4rem 2rem;
    }
    @include respond(phone) {
        width: 100%;
        padding: 4rem 2rem;
    }

    &__heading {
        margin: 8rem 0 4rem 0;

        @include respond(tab-land) {
            margin: 5rem 0 2rem 0;
        }

        @include respond(tab-port) {
            text-align: center;   
        }

        &-primary {
            font-size: 3.5rem;
            margin-bottom: 2rem;
            color: $color-grey;       
        }

        &-text {
            font-size: 2.3rem;
            color: $color-grey-1;
        }
    }
}