$color-1: #84f8c8;
$color-body: #cac7e2;
$color-white: #fff;
$color-text-left: #6272cf;
$color-text-right: #747eb4;
$color-black: #000;
$color-grey: #3d3d3d;
$color-grey-1: #757575;
$color-grey-light: #cfcfcf;
$color-grey-light-2: #cfcfcfce;
$color-purple-dark: #6d0077;
$color-purple-light: #870099;